--- 
import Card from '../components/Card.astro';
---
<section class="flex flex-row gap-5 justify-center flex-wrap p-4">
<Card img="/gato.jpg " title="gatita loca" description="aqui ponemo algo de informacion"/>
<Card img="/gato2.jpg " title="gatita loca" description="aqui ponemo algo de informacion"/>
<Card img="/gato3.jpg " title="gatita loca" description="aqui ponemo algo de informacion"/>



</section>